<p id="notice"><%= notice %></p>

<h1>Protery Details</h1>

<p>
  <strong>Property:</strong>
  <%= @property.propert %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Building age:</strong>
  <%= @property.building_age %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @property.remarks %>
</p>



<div>
  <% n = 0 %>
  <% @property.nearest_stations.each do |nearest_station| %>
    <h2>nearest station<%= n += 1 %></h2>
      <p>
        <strong>Name Of Railway:</strong><%= nearest_station.name %>
      </p>
      <p>
        <strong>Station Name:</strong><%= nearest_station.railway %>
      </p>
      <p>
        <strong>Minute to reach:</strong><%= nearest_station.time %>
      </p>
  <% end %>
</div>


<%= link_to 'Edit', edit_property_path %> |
<%= link_to 'Back', properties_path %>
